@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@400;700&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family : 'Raleway', sem serifa;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5)
}

@media only screen and (max-width: 1025px) {
    body {
        background-repeat: repeat-y;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-repeat: repeat-y;
    }
}

.nav-header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 226, 40%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-header nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-header h1 {
    margin: 0 20px;
    font-size: 1.8rem;
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

.nav-header h1 a:hover{
    background-color: transparent;
}

.nav-header ul {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.nav-header li {
    display: inline-flex;
    margin: 0 10px;
    font-size: 1.5rem;
}

.nav-header a{
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.nav-header a:hover{
    text-decoration: none;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 50px 90px;
    background-color: rgba(255, 255, 255, 0.5);
}

.header img {
    width: 65%;
}

@media only screen and (max-width: 800px) {
    .header {
        margin: 50px 10px;
        padding: 0 10px;
    }

    .header img {
        width: 100%;
    }
}

.diferencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    width: 100%;
    background-color: rgb(0, 255, 226, 45%);
}

.diferencial-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 30px;
}

.diferencial-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 50px;
}

.diferencial-single span {
    visibility: hidden;
    text-shadow: none;
    font-size: 1.5rem;
}

.diferencial-single:hover span {
    visibility: visible;
}

.diferencial-single img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 black;
}

.diferencial-single:hover {
    transform:scale(1.1,1.1);
    transition: .5s;
}

@media only screen and (max-width: 700px) {

    .diferencial-content {
        top: 30px;
    }
}

@media only screen and (max-width: 400px) {

    .diferencial-content {
        top: 15px;
    }

    .diferencial-single {
        margin: 20px 30px;
    }

    .diferencial-single img {
        width: 300px;
        height: 300px;
    }
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.advantages-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 30px;
}

.advantages-single {
    margin: 20px 0;
}

.advantages-single img {
    width: 400px;
    height: 280px;
    box-shadow: 0 0 5px 0 black;
}

.advantages-single p{
    font-size: 20px;
    margin: 0 170px;
    text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 700px) {

    .advantages-content {
        justify-content: center;
        align-items: center;
        top: 10%;
    }

    .advantages-single {
        margin: 20px 0;
    }

    .advantages-single p{
        margin: 0 0;
    }
}

@media only screen and (max-width: 400px) {
    .advantages {
        height: 90vh;
        padding: 0 30px;
    }

    .advantages-single img {
        width: 220px;
        height: 150px;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    background-color: rgb(0, 255, 226, 45%);
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 30px;
}

.portfolio-single {
    margin-bottom: 10px;
}

.portfolio-single a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 90px;
}

.portfolio-single img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 12px;
    box-shadow: 0 0 5px 0 black;
}

.portfolio-single span {
    visibility: hidden;
    text-shadow: none;
    font-size: 1.5rem;
}

.portfolio-single:hover span {
    visibility: visible;
}

.portfolio-single:hover {
    position: relative;
    top: 10px;
    transform:scale(1.1,1.1);
    transition: .5s;
}

@media only screen and (max-width: 400px) {
    .portfolio-single {
        margin: 20px 30px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p {
    margin: 0 70px;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: 0 70px;
    font-size: 1.3rem;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

footer a {
    text-decoration: none;
}

footer li:hover {
    transform:scale(1.1,1.1);
    transition: .5s;
}

@media only screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        height: 20vh;
    }

    footer p {
        margin-top: 10px;
    }

    footer ul {
        flex-direction: column;
    }

    footer li {
        margin: 0 0;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    footer {
        flex-direction: column;
        height: 20vh;
    }

    footer p {
        margin-top: 10px;
    }

    footer ul {
        flex-direction: column;
    }

    footer li {
        margin: 0 0;
        display: flex;
        flex-direction: column;
    }
}
